# Don't include binaries
*.class

# OS-specific files
.DS_Store

# IDE-specific files
.project
.classpath

# Personal files
notes
.DS_Store

*.class

bin/com/mattdavben/emeraldsisters/PlayState.class

bin/com/mattdavben/emeraldsisters/Player.class
